# ==========================================
# CONEXÃO COM O MARIADB (Obrigatório)
# ==========================================
DB_ROOT_PASS=usuario banco no Maria DB
DB_NAME=nome_banco_de_dados

# ==========================================
# CONEXÃO COM O BANCO DE DADOS (Obrigatório)
# ==========================================
SPRING_DATASOURCE_URL=url de conexão com banco de dados
SPRING_DATASOURCE_USERNAME=usuario do banco de dados
SPRING_DATASOURCE_PASSWORD=senha do usuario do banco de dados

# ==========================================
# CONFIGURAÇÕES DE E-MAIL (Obrigatório)
# ==========================================
MAIL_USERNAME=email que será usado para enviar link de recuperação senha
MAIL_PASSWORD=senha do email de envio do link

# ==========================================
# SEGURANÇA (Obrigatório)
# ==========================================
JWT_SECRET=chave segura com hash 256

# ==========================================
# ROTA NO ENVIRONMENTS DO ANGULAR (Opcional)
# ==========================================
# O valor da variável será injetado nas variáveis de ambiente (environment e
# environment.development) do angular. Se a variável for omitida, assumira omitida
# o valor padrão: http://localhost:8080

API_URL=http://192.1168.0.9:8080

# ==========================================
# ROTAS DO FRONTEND (Opcional)
# ==========================================
# Descomente e preencha a variável abaixo caso o sistema
# tenha que rodar em vários domínios diferente. Se deixada comentada, o sistema 
# assumirá o valor padrão. A variável pode receber vários domínios eparados por vírgula.
# Ex: https://sistemas.pgm.rn.gov.br,http://localhost:8080,http://10.19.1.36.

# FRONTEND_URLS=https://sistemas.pgm.rn.gov.br